<ion-header>
  <ion-toolbar>
    <ion-title>
      ThreaderBoys
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Let's thread</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <p> <ion-textarea auto-grow="true" autofocus="true" placeholder="Write your story here" (ionChange)="thread()" [(ngModel)]="story"></ion-textarea> </p>
      </ion-card-content>
    </ion-card>

      <ion-list-header>
        <ion-label>Your thread :</ion-label>
      </ion-list-header>

      <ion-card class="welcome-card">
        <ion-card-content>
            <p> <ion-textarea auto-grow="true" value="{{ this.story.length }}" readonly></ion-textarea> </p>
        </ion-card-content>
      </ion-card>
      



</ion-content>
